.form {
	margin: 0 auto;
	width: 830px;
	display: flex;
	justify-content: space-evenly;
	gap: 12px;
}

.switcher {
	display: flex;
	gap: 12px;
}

.animation {
	margin-top: 120px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 78px;
	column-gap: 16px;
	list-style: none;
}
